<link rel="stylesheet" href="{{ 'help.css' | asset_url }}">

<section class="help-section">
    <div class="container-help">
        <div class="help-left">
            <span class="section-subtitle">FAQ</span>
            <h2>Need Help? We’ve Got You Covered</h2>
            <p>Dive into our FAQ section to learn more about the benefits, features, and usage of our products to better meet your needs.</p>
        </div>
        
        <div class="help-right">
            <div class="faq-item">
                <h3>What Are The Benefits Of Using A Water Chiller For Ice Baths?</h3>
                <span class="faq-icon">+</span>
            </div>
            <div class="faq-item">
                <h3>Do I Need To Add Ice To My Ice Bath?</h3>
                <span class="faq-icon">+</span>
            </div>
            <div class="faq-item">
                <h3>Are Your Water Chillers Easy To Set Up?</h3>
                <span class="faq-icon">+</span>
            </div>
            <div class="faq-item">
                <h3>How Do I Maintain The Water In My Ice Bath?</h3>
                <span class="faq-icon">+</span>
            </div>
            <div class="faq-item">
                <h3>What Should I Consider When Choosing A Water Chiller?</h3>
                <span class="faq-icon">+</span>
            </div>
            <div class="faq-item">
                <h3>What Is Your Shipping Policy?</h3>
                <span class="faq-icon">+</span>
            </div>
            <div class="faq-item">
                <h3>Can I Return My Water Chiller If I’m Not Satisfied?</h3>
                <span class="faq-icon">+</span>
            </div>
            <div class="faq-item">
                <h3>What Is Covered Under The Warranty For The Warrior Water Chiller?</h3>
                <span class="faq-icon">+</span>
            </div>
        </div>
    </div>
</section>
