<link rel="stylesheet" href="{{ 'join.css' | asset_url }}">

<section class="join-section" style="background-image: url('{{ 'background-join.png' | asset_url }}');">
    <!-- Capa azul con opacidad -->
    <div class="overlay-join"></div>

    <!-- Cuadrado blanco con opacidad y blur -->
    <div class="white-box-join">
        <div class="content-join">
            <h2>
                <span class="blue-text">Join Over 12,000 Satisfied</span><br />
                <span class="black-text">Cold Plunge Users</span>
            </h2>
            <p>
                Athletes, wellness enthusiasts, and recovery experts 
                <span class="gradient-text-join">trust our ice baths and water chillers</span>
                to keep them at peak performance. See the difference for yourself.
            </p>
            <a href="{{ section.settings.button_link }}" class="btn-join">SHOP ALL IN ONE BUNDLES</a>
        </div>
    </div>
</section>