<link rel="stylesheet" href="{{ 'sign-up.css' | asset_url }}">

<section class="sign-up-section">
    <div class="container-sign-up">
        <div class="content-sign-up">
            <h2>Want to Unlock the 
            </h2>
            <span class="highlight-text-signup">Full Benefits of Ice Baths?</span>
            <p>
                Sign up for <span class="highlight-text">expert tips, recovery hacks, and exclusive discounts</span> delivered straight to your inbox. Don’t miss your chance to elevate your cold therapy routine and be the first to know about special offers.
            </p>
            <form class="sign-up-form">
                <input type="email" placeholder="Enter your email" class="email-input">
                <button type="submit" class="btn-sign-up">Sign Up</button>
            </form>
            <p class="privacy-text">
                We respect your privacy—no spam, no sharing your information, and you can unsubscribe at any time with a single click.
            </p>
        </div>
        <div class="image-container">
            <img src="{{ 'signup-image.png' | asset_url }}" alt="Person holding phone">
        </div>
    </div>
</section>
