<link rel="stylesheet" href="{{ 'upgrade-experience.css' | asset_url }}">

<section class="upgrade-experience-section" style="
    background: url('{{ 'upgrade-background-image.png' | asset_url }}') no-repeat center center;
    background-size: cover;
">
    <div class="container-upgrade-experience">
        <div class="container-text-upgrade">
            <h2>Upgrade to the Ultimate </h2>
            <span class="highlight-text">Ice Bath Experience</span>
            <p>
                Discover the next level of cold therapy with our advanced solutions that offer unparalleled performance and convenience.
            </p>
        </div>
        <div class="button-group">
            <a href="{{ section.settings.button_link }}" class="btn-upgrade">EXPLORE OUR WATER CHILLERS</a>
            <a href="{{ section.settings.second_button_link }}" class="btn-upgrade-alt">BROWSE ICE BATHS</a>
        </div>
    </div>
</section>