/* header.css */
.main-header {
  max-width: 1440px;
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 32px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  height: 24px;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.main-nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.header-icons {
  display: flex;
  width: 253px;
  gap: 20px; 
  justify-content: end;
  align-items: center;
}

.main-nav ul li .arrow {
  font-size: 12px;
  margin-left: 5px;
}

.header-logo {
  width: 253px;
  height: 98px;
  display: flex;
  align-items: center;
}

.header-logo img {
  max-height: 98px;
  max-width: 98px;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .main-nav ul {
    display: none; 
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 335px;
    background-color: white;
    padding: 10px;
  }

  .main-nav ul li {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }

  .main-nav.active ul {
    display: flex;
  }

  .header-icons {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  .main-header .header-logo {
    width: 151.5px;
    height: 98px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 575px) {
  .hamburger-menu {
    display: block;
  }

  .main-nav ul {
    display: none; 
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 335px;
    background-color: white;
    padding: 10px;
  }

  .main-nav ul li {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }

  .main-nav.active ul {
    display: flex;
  }

  .header-icons {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  .main-header .header-logo {
    width: 151.5px;
    height: 98px;
    display: flex;
    align-items: center;
  }
}

.hamburger-menu img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Mostrar el menú hamburguesa en pantallas de hasta 375px de ancho */
@media (max-width: 375px) {
  .hamburger-menu {
    display: block;
  }

  .main-nav ul {
    display: none; 
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 335px;
    background-color: white;
    padding: 10px;
  }

  .main-nav ul li {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }

  .main-nav.active ul {
    display: flex;
  }

  .header-icons {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  .main-header .header-logo {
    width: 151.5px;
    height: 98px;
    display: flex;
    align-items: center;
  }
}

.hamburger-menu img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}