.hero-content {
  text-align: left;
  max-width: 721px;
  height: 594px;
  gap: 32px;
}

.rating-text {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.stars {
  display: inline-flex;
}

.star-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.stars-text {
  display: block;
  font-size: 18px;
  color: black;
  font-weight: 700;
}

.text-content h1 {
  color: black;
  font-weight: 700;
  font-size: 56px;
  line-height: 67.2px;
  margin-bottom: 0;
}

.text-content p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  width: 657px;
}

.highlight {
  background: linear-gradient(90deg, #0e83f9 0%, #084d93 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 56px;
  margin: 0;
}

.highlight-text {
  background: linear-gradient(90deg, #0e83f9 0%, #084d93 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 203px;
  height: 64px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #0e83f9;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  gap: 8px;
}

.btn:hover {
  background-color: #084d93;
}

.btn-primary {
  background-image: linear-gradient(to right, #0e83f9, #084d93);
}

.btn-primary:hover {
  background-image: linear-gradient(to right, #084d93, #0e83f9);
}

.as-seen-on {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0;
}

.as-seen-on span {
  margin-top: 20px;
}

.logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  height: 42px;
  margin: 0;
  padding: 0;
}

.logos img {
  height: 28px;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.hero-image img:first-child {
  position: relative;
  z-index: 2;
  top: -20px;
}

.hero-image img:last-child {
  position: relative;
  z-index: 1;
  margin-left: -200px;
  top: -60px;
}

@media (max-width: 375px) {
  .text-content h1 {
    visibility: hidden;
    position: relative;
  }

  .text-content h2 {
    visibility: hidden;
    position: relative;
  }

  .text-content h1::before {
    content: "Ultimate Cold ";
    visibility: visible;
    background: linear-gradient(90deg, #0E83F9 0%, #084D93 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
  }

  .text-content h2::before {
    content: "Therapy Solution";
    position: absolute;
    visibility: visible;
    background: linear-gradient(90deg, #000000 0%, #4d4d4d 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    font-size: 32px;
    line-height: 40px;
    left: 10%;
    top: -90px;
}

  .hero-section {
    max-width: 375px; 
    height: 922px;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 90px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }

  .hero-content {
    margin-top: 20px;
    text-align: center;
    max-width: 100%;
    height: auto;
    gap: 16px;
    /* padding: 20px; */
  }

  .rating-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .stars-text {
    line-height: 21.6px;
  }

  .text-content h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .text-content p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    width: 365px;
  }

  .highlight,
  .highlight-text {
    font-size: 16px;
  }

  .btn {
    margin-top: 20px;
    width: 354px;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .as-seen-on {
    align-items: center;
  }

  .logos {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px; 
    width: 335px; 
    margin: 0 auto; 
    flex-wrap: wrap; 
  }

  .logos img {
    max-width: 80px; 
    height: auto; 
  }

  .hero-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 80px;
  }

  .hero-image img {
    max-width: 100%;
    margin: 0 auto;
  }

  .hero-image img:first-child {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    width: 266px;
    height: 267px;
  }

  .hero-image img:last-child {
    position: relative;
    z-index: 1;
    top: 20px;
    left: 20px;
    width: 190px;
    height: 191px;
    padding-bottom: 70px;
  }
}
